@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap');

:root {
    --dark-blue: #2b343e;
    --button-hovered: #40464d;
    --medium-blue: #657da0;
    --light-blue: #6f90bf;

    --default-font: 'Poppins';
    --highlight-font: 'Tenor Sans';
    --feature-font: 'Bree Serif';
}

* {
    font-family: var(--default-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    background-color: var(--medium-blue);
    scrollbar-color: white var(--light-blue);
    font-size: 16px;
}


a {
    text-decoration: none;
    color: white;
}

.desktop-design {
    display: block;
}

.mobile-design {
    display: none;
}

iframe {
    height: 100vh;
    width: 100vw;
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.iframe-hidden {
    opacity: 0;
    pointer-events: none;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.column-personal-info {
    flex: 0 0 45%;
    margin: 0px;
    background-color: white;
}

.column-personal-info,
.column {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 0px;
    min-width: 0;
}

.column-main {
    min-height: 100%;
    background-color: var(--medium-blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 48px;
}

#about-me-text {
    font-size: 1.5em;
    text-align: justify;
    margin-top: 24px;
}


.centered {
    align-items: center;
    justify-content: center;
}

#column-identify {
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
    max-width: 55%;
    min-width: 25%;
}

.identify {
    font-family: var(--highlight-font);
    margin: 0px;
    padding: 0px;
}

.name-label {
    font-size: 2.5em;
    text-align: center;
}

.main-button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.main-button:hover {
    background-color: var(--button-hovered);
    cursor: pointer;
}

.page-container {
    min-height: 100%;
    min-height: 100vh;
    background-color: var(--medium-blue);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

language-switcher {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: flex-end;
    justify-self: flex-start;
    color: black;
    width: 100vw;
    margin-right: 24px;
}

.page-container>language-switcher>p {
    display: inline-block;
    font-family: var(--feature-font);
    font-size: 1.5em;
}

.language-button {
    display: none;
}

language-switcher label {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background: transparent;
    font-size: 1.2em;
}

language-switcher label:hover {
    cursor: pointer;
    color: white;
}

.language-button:checked+label {
    color: white;
}


.divider {
    width: 80%;
    height: 2px;
    margin: 0px;
    background-color: var(--dark-blue);
    border: none;
}

#about-me {
    width: 80%;
    font-size: 2em;
}


.back-button {
    position: fixed;
    top: 25px;
    left: 50px;
    align-self: flex-start;
    justify-self: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-button:hover {
    color: white;
}

.back-button.inverse-hover:hover {
    color: var(--light-blue);
}

#contacts-container {
    margin-top: 14px;
    font-weight: bold;
}

#contacts-container i {
    margin-right: 10px;
    margin-top: 10px;
}

.contact-icon-background {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}

contacts-button-row {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: end;
    justify-content: end;
    width: 100%;
}

contacts-button-row a {
    margin: 0 5px;
    color: black;
}

contacts-button-row i {
    font-size: 1.5em;
}

#scrollable-container {
    height: 60vh;
    margin-top: 20px;
    overflow-y: auto;
    text-align: justify;
    padding: 10px;
}

#scrollable-container::-webkit-scrollbar-button {
    display: none;
}

#scrollable-container::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    min-width: 150px;
    padding: 20px;
    border: 1px solid white;
}

.accordion-header p {
    margin-right: 20px;
}

.accordion-header i {
    transition: transform 0.5s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 15px;
}

.accordion-content.openned {
    padding: 15px;
    background-color: var(--medium-blue);
    border: 1px solid white;
}

.gradient-background {
    width: 100%;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, white 0%, white 50%, var(--medium-blue) 50%, var(--medium-blue) 100%);
}

.text-gradient {
    background: linear-gradient(90deg, var(--medium-blue) 0%, var(--medium-blue) 50%, white 50%, white 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.portfolio-header {
    max-width: 100vw;
    text-align: center;
    justify-self: center;
}

.row-potfolio {
    display: flex;
}

.row-potfolio.titles {
    justify-content: space-around;
    margin: 24px 0;
    color: white;
}

.column-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49vw;
    flex-grow: 1;
}


.column-portfolio > hr {
    width: 80%;
    border-color: var(--dark-blue);
}

.portfolio-inverse {
    color: var(--medium-blue);
}



  .photo-container picture {
    display: block;
    width: 100%;
  }

.photo-container {
    position: relative;
    display: inline-block;
  }

  .photo-container picture {
    display: block;
    width: 100%;
  }

.portfolio-item {
    box-shadow: 0 4px 8px black;
    cursor: pointer;
}

.photo-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.photo-container .photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090; 
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .photo-container:hover .photo-overlay {
    opacity: 1;
  }


.not-clickable {
    cursor: default !important;
}


.portfolio-grid-image {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    margin: 0 24px;
}

.portfolio-items {
    max-height: 70vh;
    overflow: hidden;
}

  #portfolio-info {
    color: white;
    overflow-y: auto;
  }

  #portfolio-info > #item-description {
    font-size: 1.2em;
    margin: 0 24px;
    text-align: justify;
  }

  #portfolio-info > h3 {
    margin: 24px auto;
  }

  .grid-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 24px;
    margin: 12px 24px;
    margin-bottom: 32px;
  }

  .feature-container {
    display: flex;
    background-color: var(--light-blue);
    color: black;
    padding: 16px;
    font-size: 0.6em;
    align-items: center;
    width: 100%;
  }

  .feature-title {
    font-weight: bold;
    font-size: 1.1em;
  }

  .feature-description {
    text-align: right;
  }

  .features-carousel-container {
    display: flex;
    flex-direction: column;
  }

  .carousel-wrapper {
    color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 16px;
  }

  .carousel-controller-back, .carousel-controller-forward {
    cursor: pointer;
  }

  .carousel-controller-back:hover, .carousel-controller-forward:hover {
    color: var(--medium-blue);
  }

  .carousel-controller-disabled {
    cursor: default;
    color: #b3b1b1;
  }

  .carousel-controller-disabled:hover {
    color: #b3b1b1;
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    color: var(--dark-blue);
  }

  .carousel-slide {
    flex: 0 0 100%; 
    text-align: center;
  }

  .carousel-controller {
    display: flex;
    justify-content: center;
    width: 45vw;
    margin: 48px 16px;
  }

  .dot-indicator {
    width: 2vh;
    height: 2vh;
    background-color: var(--dark-blue);
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
  }

  .selected-indicator {
    background-color: var(--medium-blue);
  }

.fade-out {
    animation: fadeOut 0.3s forwards; 
}


@media (max-width: 768px) {
    .desktop-design {
        display: block;
    }

    .mobile-design {
        display: none;
    }
}

@media(max-width: 1300px) {

}

@media(min-width: 1600px) {
    body {
        font-size: 1.5em;
    }

    .column-main {
        margin: 0 64px;
        font-size: 1.5em;
    }
}
