@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap');

:root {
    --dark-blue: #2b343e;
    --button-hovered: #40464d;
    --medium-blue: #657da0;
    --light-blue: #6f90bf;

    --default-font: 'Poppins';
    --highlight-font: 'Tenor Sans';
    --feature-font: 'Bree Serif';
}

* {
    font-family: var(--default-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    scrollbar-color: white var(--medium-blue);
}

a {
    text-decoration: none;
    color: white;
}

.desktop-design {
    display: block;
}

.mobile-design {
    display: none;
}

iframe {
    height: 100vh;
    width: 100vw;
    border: none;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.column-personal-info {
    flex: 0 0 45%;
    margin: 0px;
}

.column-personal-info, .column {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 0px;
    min-width: 0;
}

.column-main {
    min-height: 100%;
    background-color: var(--light-blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}


.centered {
    align-items: center;
    justify-content: center;
}

#column-identify {
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
    max-width: 55%;
    min-width: 25%;
}

.identify {
    font-family: var(--highlight-font);
    margin: 0px;
    padding: 0px;
}

.name-label {
    font-size: 2.5em;
    text-align: center;
}

.main-button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
}

.main-button:hover {
    background-color: var(--button-hovered);
    cursor: pointer;
}

.page-container {
    min-height: 100%;
    min-height: 100vh; 
    background-color: var(--light-blue);
    justify-content: center;
    display: flex;             
    flex-direction: column; 
    align-items: center; 
}

language-switcher {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: flex-end;
    justify-self: flex-start;  
    color: black;
    width: 100vw;
    margin-right: 24px;
}

.page-container > language-switcher > p {
    display: inline-block;
    font-family: var(--feature-font);
    font-size: 1.5em;
}

.language-button {
    display: none;
}

language-switcher label {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background: transparent;
    font-size: 1.2em;
}

language-switcher label:hover {
    cursor: pointer;
    color: white;
}

.language-button:checked + label {
    color: white;
}


.divider {
    width: 80%;
    height: 2px;
    margin: 0px;
    background-color: var(--medium-blue);
    border: none;
}

#about-me {
    width: 80%;
    font-size: 2em;
}


#back-button {
    align-self: self-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#back-button:hover {
    color: white;
}

#contacts-container {
    margin-top: 14px;
    font-weight: bold;
}

#contacts-container i {
    margin-right: 10px;
    margin-top: 10px;
}

.contact-icon-background {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}

contacts-button-row {
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-items: end;
    justify-content: end;
    width: 100%;
    background-color: var(--light-blue);
}

contacts-button-row a {
    margin: 0 5px;
    color: black;
}

contacts-button-row i {
    font-size: 1.5em;
}

#scrollable-container {
    height: 60vh;
    margin-top: 20px;
    overflow-y: auto;
    text-align: justify;
    padding: 10px;
}

#scrollable-container::-webkit-scrollbar-button {
    display: none;
}

#scrollable-container::-webkit-scrollbar-thumb {
    background-color: var(--medium-blue);
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    min-width: 150px;
    padding: 20px;
    border: 1px solid white;
}

.accordion-header p {
    margin-right: 20px;
}

.accordion-header i {
    transition: transform 0.5s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 15px;
}

.accordion-content.openned {
    padding: 15px;
    background-color: var(--medium-blue);
    border: 1px solid white;
}


@media (max-width: 768px) {
    .desktop-design {
        display: block;
    }

    .mobile-design {
        display: none;
    }
}